<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.express.dao.GoodTransportInformationMapper">
    <resultMap id="BaseResultMap" type="com.logistics.express.entity.GoodTransportInformation">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="order_number" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="information" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="date" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_number, information, date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from good_transport_information
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getInformationByOrderNumber" resultType="com.logistics.express.entity.GoodTransportInformation">
        select
        <include refid="Base_Column_List"/>
        FROM good_transport_information
        WHERE order_number = #{orderNumber,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from good_transport_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByOrderNumber">
         delete from good_transport_information
    where order_number =#{orderNumber,jdbcType=VARCHAR}

    </delete>
    <insert id="insert" parameterType="com.logistics.express.entity.GoodTransportInformation">
    insert into good_transport_information (id, order_number, information,
      date)
    values (#{id,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{information,jdbcType=VARCHAR},
      #{date,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.logistics.express.entity.GoodTransportInformation">
        insert into good_transport_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderNumber != null">
                order_number,
            </if>
            <if test="information != null">
                information,
            </if>
            <if test="date != null">
                date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderNumber != null">
                #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="information != null">
                #{information,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                #{date,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.logistics.express.entity.GoodTransportInformation">
        update good_transport_information
        <set>
            <if test="orderNumber != null">
                order_number = #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="information != null">
                information = #{information,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.logistics.express.entity.GoodTransportInformation">
    update good_transport_information
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      information = #{information,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByOrderNumberSelective" parameterType="com.logistics.express.entity.GoodTransportInformation">
        update good_transport_information
        <set>
            <if test="orderNumber != null">
                order_number = #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="information != null">
                information = #{information,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{orderNumber,jdbcType=VARCHAR}
    </update>

</mapper>